<h1 mat-dialog-title>{{title}}</h1>
<div mat-dialog-content>
  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="key">
      <mat-header-cell *matHeaderCellDef> Key </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.key}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="value">
      <mat-header-cell *matHeaderCellDef> Value </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.value}} </mat-cell>
    </ng-container>

    <!-- <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row> -->
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onOkClick()">OK</button>
</div>