<div class="header">
  <h1>
    SWMM Simulation
  </h1>
</div>
<div class="content">
  <div class="left">
    <div class="header">
      Forecast WITHOUT street cleaning
    </div>
    <div class="map">
      <n52-geometry-map-viewer [mapId]="'left-map'" [overlayMaps]="overlayLeftMaps" [layerControlOptions]="layerControlOptions"
        [fitBounds]="fitBounds"></n52-geometry-map-viewer>
    </div>
  </div>
  <div class="right">
    <div class="header">
      Forecast WITH street cleaning
    </div>
    <div class="map">
      <n52-geometry-map-viewer [mapId]="'right-map'" [overlayMaps]="overlayRightMaps" [layerControlOptions]="layerControlOptions"
        [fitBounds]="fitBounds"></n52-geometry-map-viewer>
    </div>
  </div>
</div>

<div>
  <app-synchronize-map-bounds [mapIds]="['left-map', 'right-map']" [activated]="true"></app-synchronize-map-bounds>
</div>
