<div class="header">
  <h1>
    SWMM Simulation
  </h1>
</div>
<div class="content">
  <div class="left">
    <div class="header">
      Forecast WITHOUT street cleaning
    </div>
    <div class="map">
      <n52-geometry-map-viewer [mapId]="leftMap" [overlayMaps]="overlayLeftMaps" [layerControlOptions]="layerControlOptions"
        [fitBounds]="fitBounds"></n52-geometry-map-viewer>
    </div>
  </div>
  <div class="right">
    <div class="header">
      Forecast WITH street cleaning
    </div>
    <div class="map">
      <n52-geometry-map-viewer [mapId]="rightMap" [overlayMaps]="overlayRightMaps" [layerControlOptions]="layerControlOptions"
        [fitBounds]="fitBounds"></n52-geometry-map-viewer>
    </div>
  </div>
</div>

<div>
  <app-synchronize-map-bounds [mapIds]="[leftMap, rightMap]" [activated]="false"></app-synchronize-map-bounds>
</div>
